<div class="container my-5">
    <div class="row">

        <div class="activate-acount-form">

            {%-  form 'activate_customer_password' -%}

                {% include 'form-error', form: form %}

                <h3 class="h3">Active Account</h3>


                <label for="activate_password1">Password</label>
                <input id="activate_password1" name="customer[password]" type="password" class="form-control">

                <label for="activate_password2">Password Confirmation</label>
                <input id="activate_password2" name="customer[password_confirmation]" type="password" class="form-control">

                <button class="btn btn-primary w-100 rounded-0 mt-4" type="submit">Activate Account</button>

                <p class="text-center">or</p>

                <input class="btn btn-primary w-100 rounded-0" name="decline" type="submit" value="Decline Invitation">

            {%- endform -%}
        </div>

    </div>
</div>