<div class="container my-5">
    <h1 class="lead text-center">
        My Address
    </h1>


    <!-- Button trigger modal -->
    <button class="btn btn-primary rounded-0" data-bs-target="#newAddressModal" data-bs-toggle="modal" type="button">
        Create New Address
    </button>


    <div class="row row-cols-md-4 row-cols-4 my-5 gx-2">
        {%- for address in customer.addresses -%}
            <div class="col">
                <div class="card">
                    <div class="card-body">

                        {{ address | format_address }}

                    </div>

                    <div class="card-footer">
                        <form action="/account/addresses/{{ address.id }}">
                            <input name="_method" type="hidden" value="delete">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>

                </div>

            </div>
        {%- endfor -%}
    </div>
</div>


<!-- Modal -->
<div aria-hidden="true" aria-labelledby="newAddressModalLabel" class="modal fade" id="newAddressModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newAddressModalLabel">Modal title</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" type="button">Save changes</button>
            </div>
        </div>
    </div>
</div>