<div class="container my-5">

    <div class="row">
        <div class="reset-password-form">
            {%- form 'reset_customer_password' -%}

                <h3 class="h3">Reset Password</h3>

                {% include 'form-error', form: form %}

                <label for="activate_password1">Password</label>
                <input class="form-control" id="activate_password1" name="customer[password]" type="password">

                <label for="activate_password2">Password Confirmation</label>
                <input class="form-control" id="activate_password2" name="customer[password_confirmation]" type="password">

                <input class="btn btn-primary w-100 rounded-0 mt-4" name="decline" type="submit" value="Reset Password">


            {%- endform -%}
        </div>

    </div>

</div>