html, body{

}

.inner-hero-section{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.inner-hero-section img,
.inner-hero-section svg{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: -1;
}

.custom-header-css,
.footer-custom-css{
    background-color: #F1F1F1 !important;
}

.login-form{
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
}